<!DOCTYPE html>
<html>
<head>
    <title>Route Map with Traffic Layer</title>
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h3>Route Map with Live Traffic</h3>
    <div id="map"></div>
    <script
        src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"
        async defer></script>
    <script>
        function initMap() {
	    const origin = { lat: {{ origin_lat }}, lng: {{ origin_lng }} };
            const destination = { lat: {{ dest_lat }}, lng: {{ dest_lng }} };

            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 13,
                center: origin,
            });

            const directionsService = new google.maps.DirectionsService();
            const directionsRenderer = new google.maps.DirectionsRenderer({
                map: map,
            });

            directionsService.route(
                {
                    origin: origin,
                    destination: destination,
                    travelMode: google.maps.TravelMode.DRIVING,
                },
                (response, status) => {
                    if (status === "OK") {
                        directionsRenderer.setDirections(response);
                    } else {
                        alert("Directions request failed due to " + status);
                    }
                }
            );

            const trafficLayer = new google.maps.TrafficLayer();
            trafficLayer.setMap(map);
        }
    </script>
</body>
</html>

